body {
    margin: auto;
    text-align: center;
}

.entry {
    border: solid;
    background-color: #123AAA;
    color: white;
    border-color: white;
    border-width: 2px;
}

a {
    text-decoration: none;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h1 {
    padding-top: 3em;
}

.mainDiv {
    border-style: none;
}
